VITE_API_BASE_URL=https://unloc.kr/apix-product
VITE_AVALANCHE_CHAIN_ID=43114
VITE_AVALANCHE_NETWORK_NAME=Avalanche C-Chain
VITE_AVALANCHE_RPC_URL=https://api.avax.network/ext/bc/C/rpc
VITE_AVALANCHE_BLOCK_EXPLORER=https://snowtrace.io
