VITE_API_BASE_URL=https://unloc.kr/apix-product
VITE_AVALANCHE_CHAIN_ID=402
VITE_AVALANCHE_NETWORK_NAME=APIX
VITE_AVALANCHE_RPC_URL=https://subnets.avax.network/apix/testnet/rpc
VITE_AVALANCHE_BLOCK_EXPLORER=https://explorer-test.avax.network/apix
VITE_AVALANCHE_FAUCET_URL=
VITE_APIX_FAUCET_AMOUNT=10
VITE_APIX_FAUCET_TOKEN_SYMBOL=APIX
VITE_APIX_FAUCET_TOKEN_DECIMALS=18
VITE_APIX_FAUCET_COOLDOWN_HOURS=24
