APIX_JWT_SECRET=change-this-secret
APIX_FACILITATOR_URL=http://localhost:8080
APIX_CHAIN_ID=402
APIX_NETWORK=eip155:402
APIX_PAYMENT_CURRENCY=APIX
APIX_PAYMENT_AMOUNT=0.100000000000000000
APIX_PAYMENT_AMOUNT_WEI=100000000000000000
APIX_PAYMENT_RECIPIENT=0x71C7656EC7ab88b098defB751B7401B5f6d8976F
APIX_USE_CLOUD_VERIFICATION=true
APIX_RPC_URL=http://localhost:9650/ext/bc/C/rpc
APIX_RPC_TIMEOUT_MS=8000
APIX_RPC_MAX_RETRIES=2
APIX_MIN_CONFIRMATIONS=1
APIX_JWT_TTL_SECONDS=60
APIX_JWT_ISSUER=apix-sdk
APIX_JWT_KID=v1
